oauth2client
google-api-python-client
progress
progressbar2
httplib2shim
google_auth_oauthlib
pyrogram
docker
docker.io
p7zip-full
p7zip-rar
python3-lxml
software-properties-common
libcurl3-gnutls
liberror-perl
libxmuu1
openssh-client
xauth 
installpython3-pip
python
python3
curl
wget
vim
nano
gnupg
gnupg2
apt-transport-https
ca-certificates
software-properties-common
